mbcclr_utils/bin
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

test_data
test*
!tests/
!tests/**
tests/__pycache__/
tests/**/*.py[cod]
.DS_Store
.vscode
.venv
dist
build
*.egg-info
uv.lock
